<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Post</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <!-- ng-submit directive that handles the form once Submit button has been clicked-->
        <form ng-submit="addPost()">
          <!-- Add title -->
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="post.title" placeholder="Title" maxlength="48" required/>
          </div>
          <!-- Add description -->
          <div class="form-group">
            <label>Description</label>
            <textarea rows="6" class="form-control" ng-model="post.description" placeholder="Description" required/>
          </div>
          <!-- Add video URL -->
          <div class="form-group">
            <label>Video URL</label>
            <input type="url" class="form-control" ng-model="post.video_url" placeholder="Video URL"/>
          </div>
          <!-- Add code -->
          <div class="form-group">
            <label>Code</label>
            <textarea rows="6" class="form-control" ng-model="post.code" placeholder="Code"/>
          </div>
          <!-- Add image(s) -->
          <div class="form-group">
            <label>Images</label>
            <input type="file" file-model="myImage" accept="image/*" multiple/>
          </div>
          <!-- Add file(s) -->
          <div class="form-group">
            <label>Files</label>
            <input type="file" file-model="myFile" accept=".pdf, .docx, .py" multiple/>
          </div>
          <!-- Add tag(s) -->
          <div class="form-group">
            <label>Tags <i style="font-weight:normal;">(space separated)</i></label>
            <input type="text" class="form-control" ng-model="post.tag_list" placeholder="Tags" name="my_data"/>
            <div>
            </br>
              <!-- Suggested tags -->
              Suggested:
              <a class="tags_link" href="#/posts/tag/python">python</a>
              <a class="tags_link" href="#/posts/tag/built_in">built_in</a>
              <a class="tags_link" href="#/posts/tag/functions">functions</a>
              <a class="tags_link" href="#/posts/tag/design_recipe">design_recipe</a>
              <a class="tags_link" href="#/posts/tag/if_statements">if_statements</a>
              <a class="tags_link" href="#/posts/tag/modules">modules</a>
              <a class="tags_link" href="#/posts/tag/if_statements">if_statements</a>
              <a class="tags_link" href="#/posts/tag/strings">strings</a>
              <a class="tags_link" href="#/posts/tag/boolean">boolean</a>
              <a class="tags_link" href="#/posts/tag/string_methods">string_methods</a>
              <a class="tags_link" href="#/posts/tag/for_loops">for_loops</a>
              <a class="tags_link" href="#/posts/tag/while_loops">while_loops</a>
              <a class="tags_link" href="#/posts/tag/lists">lists</a>
              <a class="tags_link" href="#/posts/tag/list_methods">list_methods</a>
              <a class="tags_link" href="#/posts/tag/reading_files">reading_files</a>
              <a class="tags_link" href="#/posts/tag/writing_files">writing_files</a>
              <a class="tags_link" href="#/posts/tag/algorithm_design">algorithm_design</a>
              <a class="tags_link" href="#/posts/tag/testing">testing</a>
              <a class="tags_link" href="#/posts/tag/debugging">debugging</a>
              <a class="tags_link" href="#/posts/tag/searching">searching</a>
              <a class="tags_link" href="#/posts/tag/sorting">sorting</a>
              <a class="tags_link" href="#/posts/tag/insertion_sort">insertion_sort</a>
              <a class="tags_link" href="#/posts/tag/object_oriented">object_oriented</a>
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary center-block custom" style="align: center">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
