&nbsp;
<div class="pull-right">
	<a href="#/posts/edit/{{post._id}}">Edit</a>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
</div>
<div class="panel panel-default" ng-init="getInfo()">
  <div class="panel-heading">
  	<h3 class="panel-title">First Name Last Name</h3>
    <p id="votes">Joined XX/XX/XXXX</span></p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
      	<table class="table table-user-information">
      		<tbody>
      			<tr>
      				<td>Username</td>
                    <td>{{user.username}}</td>
                </tr>
      			<tr>
      				<td>School</td>
                    <td>University of Toronto</td>
                </tr>
                <tr>
                    <td>Posts</td>
                    <td>N</td>
                </tr>
                 <tr>
                    <td>Votes</td>
                    <td>N</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
@media screen and (max-width: 620px) {

    #votes {
      margin-top: 33px;
    }

    div.panel-heading {
      padding-bottom: 70px;
    }

</style>

