<div class="panel panel-default" ng-init="get_other_user()">
    <div class="panel-heading">
        <h3 class="panel-title">{{user.first_name}}&nbsp;{{user.last_name}}</h3>
        <p id="votes">Joined {{user.date_joined | date: 'longDate'}}</span></p>
    </div>
    <div id="panel_user" class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td id="first_row_1">Username</td>
                            <td id="first_row_2">{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>{{user.school}}</td>
                        </tr>
                        <tr>
                            <td>Posts</td>
                            <td>{{user.amount_posts}}</td>
                        </tr>
                        <tr>
                            <td>Votes</td>
                            <td>{{user.amount_votes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ng-init directive tells the page which function to run instantly when the page opens-->
<div class="panel panel-default" ng-controller="PostsController" ng-init="getPosts()">
  <div class="panel-heading">
    <h3 class="panel-title">User's posts</h3>
      <div class="btn-group">
        <!-- Dropdown that allows users to sort posts -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sort by
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!-- Sorting option based on date that posts were added -->
            <li><a ng-click="myFilter = 'added'" href="/#/users/{{user.username}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Added (default)</a></li>
            <!-- Sorting option based on date that posts were updated -->
            <li><a ng-click="myFilter = 'updated'" href="/#/users/{{user.username}}"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Updated</a></li>
            <!-- Sorting option based on votes -->
            <li><a ng-click="myFilter = 'votes'" href="/#/users/{{user.username}}"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;Votes</a></li>
            <!-- Sorting option based on trends -->
            <li><a ng-click="myFilter = 'trending'" href="/#/users/{{user.username}}"><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Trending</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- For each post in posts (for loop), sort based on preferrence and display -->
      <div ng-repeat="post in posts | sorting:myFilter">
        <div ng-show="post.user_created == user.username" class="col-lg-12" style="margin-bottom: 20px">
          <!-- Title -->
          <h4 id="post_title"><a href="/#/posts/details/{{post._id}}">{{post.title}}</a></h4>
          <!-- Date of post (either created or updated) -->
          <p id="dates"><mydate>{{post.date_display | date: 'medium'}}</mydate>&nbsp;
          <!-- Created at glyphicon that appears when date created equals date updated -->
          <span ng-show="post.date_created == post.date_updated" class="glyphicon glyphicon-plus"></span>
          <!-- Updated at glyphicon that appears when date created does not equal date updated -->
          <span ng-show="post.date_created != post.date_updated" class="glyphicon glyphicon-time"></span>
          </p>
          <!-- Video URL glyphicon-->
          <p class="post_glyphicon" ng-show="post.video_url">&nbsp;<span class="glyphicon glyphicon-film"></span></p>
          <!-- Code glyphicon-->
          <p class="post_glyphicon" ng-show="post.code">&nbsp;<span class="glyphicon glyphicon-console"></span></p>
          <!-- Image glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.image_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-picture"></span></p>
          <!-- File glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.file_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-file"></span></p>
          <!-- Description -->
          <div id="post_description">{{post.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
@media screen and (max-width: 620px) {
    #votes {
        margin-top: 33px;
    }

    div.panel-heading {
        padding-bottom: 70px;
    }
</style>
