<!-- ng-init directive tells the page which function to run instantly when the page opens-->
<div class="panel panel-default" ng-init="getPostsByTag()">
  <div class="panel-heading">
    <h3 class="panel-title">Posts containing tag "{{val}}"</h3>
  </div>
  <div class="panel-body">
    <!-- Case where there are no posts -->
    <p ng-show="posts.length == 0">There are no posts containing the requested tag.</p>
    <div class="row">
      <!-- For each post in posts (for loop) change the order they are posted -->
      <div ng-repeat="post in posts | orderBy:'$index':true" style="margin-bottom: 20px">
        <div class="col-lg-12">
          <!-- Title -->
          <h4 id="post_title"><a href="#/posts/details/{{post._id}}">{{post.title}}</a></h4>
          <!-- Created at glyphicon -->
          <p id="dates">{{post.date_status}}&nbsp;<mydate>{{post.date | date: 'medium'}}</mydate>&nbsp;<span class="glyphicon glyphicon-plus"></span></p>
          <!-- Video URL glyphicon-->
          <p class="post_glyphicon" ng-show="post.video_url">&nbsp;<span class="glyphicon glyphicon-film"></span></p>
          <!-- Code glyphicon-->
          <p class="post_glyphicon" ng-show="post.code">&nbsp;<span class="glyphicon glyphicon-console"></span></p>
          <!-- Image glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.image_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-picture"></span></p>
          <!-- File glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.file_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-file"></span></p>
          <!-- Description -->
          <div>{{post.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
