&nbsp;
<div class="pull-right">
  <!-- Edit and Delete icon -->
	<a href="#/posts/edit/{{post._id}}">Edit</a>&nbsp;<span class="glyphicon glyphicon-pencil"></span> &nbsp;|&nbsp; <a href="" ng-click="removePost(post._id, post.image_paths, post.file_paths)">Delete</a>&nbsp;<span class="glyphicon glyphicon-trash"></span>
</div>
<!-- ng-init directive tells the page which function to run instantly when the page opens -->
<div class="panel panel-default" ng-init="getPost()" ng-controller="vote_button">
  <div class="panel-heading">
    <!-- Title and votes -->
  	<h3 class="panel-title">{{post.title}}</h3>
    <p id="votes">{{post.votes}} Votes <span class="glyphicon glyphicon-hand-up"></span></p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <!-- Description -->
        <div>
          <p>{{post.description}}</p>
        </div>
        <!-- Video URL -->
        <div ng-show="post.video_url">
          <p id="embed_video"><embed-video href="{{post.video_url}}" height="300" width="500" id="video" frameborder="0" allowfullscreen></embed-video></p>
        </div>
        <!-- Code -->
        <div ng-show="post.code">
          <p><pre><code><span ng-bind="post.code"></span></pre></code></p>
        </div>
        <!-- Image(s) -->
        <div style="margin-top: 20px; text-align: left;">
          <!-- For each image -->
          <div id="display_images" ng-repeat="pic in post.image_paths">
            <!-- Display image -->
            <a href="{{pic}}" target="_blank"><img id="images" ng-src="{{pic}}"></a>
            <a href="{{pic}}" download="{{pic}}"><span class="glyphicon glyphicon-download-alt"></span></a>
          </div>
        </div>
        <!-- File(s) -->
        <div style="margin-top: 20px; text-align: left;">
          <!-- For each file -->
          <div id="display_files" ng-repeat="file in post.file_paths">
            <!-- Display file -->
            {{file.substring(12)}}
            <a href="{{file}}" download="{{file}}"><span class="glyphicon glyphicon-download-alt"></span></a>
          </div>
        </div>
        <div ng-show="post.tag_list" style="margin-top: 20px; text-align: center;">
          <!-- For each tag in converted list of tags -->
          <div id="display_tags" ng-repeat="value in post.tag_list.split(' ')">
            <!-- Display tag -->
            <a class="tags_link" href="/#/posts/tag/{{value}}">{{value}}</a>
          </div>
        </div>
        <!-- Vote button -->
        <div style="margin-top: 30px;">
          <button ng-class="{'btn-success': button_color, 'btn-danger': !button_color}" ng-click="click_btn(); update_votes()" type="button" class="btn center-block custom">{{vote_status}}</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
@media screen and (max-width: 620px) {

    #votes {
      margin-top: 33px;
    }

    div.panel-heading {
      padding-bottom: 70px;
    }

</style>
