<!-- Bootstrap panel -->
<!-- ng-init directive tells the page which function to run -->
<div class="panel panel-default" ng-init="getPosts()">
  <div class="panel-heading">
    <h3 class="panel-title">Posts</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- For each post in posts (for loop) -->
    	<div ng-repeat="post in posts">
        <div class="col-lg-12">
          <h4 id="post_title"><a href="#/posts/details/{{post._id}}">{{post.title}}</a></h4>
          <p id="dates" ng-show="{{post.createdAt == post.updatedAt}}">Added&nbsp;<mydate>{{post.createdAt | date: 'medium'}}</mydate>&nbsp;<span class="glyphicon glyphicon-plus"></span></p>
          <p id="dates" ng-show="{{post.createdAt != post.updatedAt}}">Updated&nbsp;<mydate>{{post.updatedAt | date: 'medium'}}</mydate>&nbsp;<span class="glyphicon glyphicon-time"></span></p>
          <p class="post_glyphicon" ng-show="post.video_url">&nbsp;<span class="glyphicon glyphicon-film"></span></p>
          <p class="post_glyphicon" ng-show="post.code">&nbsp;<span class="glyphicon glyphicon-console"></span></p>
          <p class="post_glyphicon" ng-show="{{post.image_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-picture"></span></p>
          <p class="post_glyphicon" ng-show="{{post.file_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-file"></span></p>
    			<p>{{post.description}}</p>
    		</div>
    	</div>
    </div>
  </div>
</div>
