<!-- Go Back icon -->
<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<a href="javascript:history.go(-1)">Go Back</a>
<!-- ng-init directive tells the page which function to run instantly when the page opens-->
<div class="panel panel-default" ng-controller="sort_controller" ng-init="getPostsByTag()">
  <div class="panel-heading">
    <h3 class="panel-title">Posts containing tag "{{val}}"</h3>
      <div class="btn-group">
        <!-- Dropdown that allows users to sort posts -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sort by
          <span class="caret"></span>
          </button>
          <!-- -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!-- Sorting option based on date that posts were added -->
            <li><a ng-click="sort_button('createdAt')" href="/#/posts/tag/{{val}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Added (default)</a></li>
            <!-- Sorting options based on date that posts were updated -->
            <li><a ng-click="sort_button('updatedAt')" href="/#/posts/tag/{{val}}"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Updated</a></li>
            <!-- Sorting options based on votes -->
            <li><a ng-click="sort_button('votes')" href="/#/posts/tag/{{val}}"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;Votes</a></li>
            <!-- Sorting options based on trends -->
            <li><a ng-click="sort_button('tends')" href="#/posts/tag/{{val}}"><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Trending</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="panel-body">
    <!-- Case where there are no posts -->
    <p ng-show="posts.length == 0">There are no posts containing the requested tag.</p>
    <div class="row">
      <!-- For each post in posts (for loop) change the order they are posted -->
      <div ng-repeat="post in posts | orderBy: sort_property: sort_status" style="margin-bottom: 20px">
        <div class="col-lg-12">
          <!-- Title -->
          <h4 id="post_title"><a href="#/posts/details/{{post._id}}">{{post.title}}</a></h4>
          <!-- Date status of post followed by date -->
          <p id="dates">{{post.date_status}}&nbsp;<mydate>{{post.date | date: 'medium'}}</mydate>&nbsp;
          <!-- Created at glyphicon that appears when date status is set to 'Added' -->
          <span ng-show="post.date_status == 'Added'" class="glyphicon glyphicon-plus"></span>
          <!-- Updated at glyphicon that appears when date status is set to 'Updated' -->
          <span ng-show="post.date_status == 'Updated'" class="glyphicon glyphicon-time"></span>
          </p>
          <!-- Video URL glyphicon-->
          <p class="post_glyphicon" ng-show="post.video_url">&nbsp;<span class="glyphicon glyphicon-film"></span></p>
          <!-- Code glyphicon-->
          <p class="post_glyphicon" ng-show="post.code">&nbsp;<span class="glyphicon glyphicon-console"></span></p>
          <!-- Image glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.image_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-picture"></span></p>
          <!-- File glyphicon-->
          <p class="post_glyphicon" ng-show="{{post.file_paths}}.length != 0">&nbsp;<span class="glyphicon glyphicon-file"></span></p>
          <!-- Description -->
          <div>{{post.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
