#post_title {
    margin: 0;
    display: inline-block;
}

.post_glyphicon {
    display: inline;
}

h3.panel-title {
    font-size: 20px;
    padding-bottom: 5px;
}

.panel-heading {
	height: 43px;
}

#votes {
	float: right;
    font-size: 20px;
    font-weight: 500;
    margin-top: 3px;
}

.custom {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 160px;
    height: 50px;
}

#dates {
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -10px;
}

.panel-body {
    word-break: break-all;
}

#upload_button_images {
    margin-top: 10px;
}

#images {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.tags_link {
    color: #29a329;
    background-color: #ffdd99;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    border-radius: 14px;
    display: inline-block;
    border: none;
}

.tags_link:hover { 
    color: #e68a00;
    background-color: #84e184;
    text-decoration: none;
}

#header_link {
    color: #00cc44;
    font-size: 19px;
    font-weight: 450;
}

#header_link_sign_up {
    font-size: 19px;
    font-weight: 450;
    margin-top: 7px;
}

#header_link:hover {
    color: #ffb84d;
}

.btn-group {
   float: right;
 }

.panel-heading {
    height: 53px;
}

h3.panel-title {
    position:absolute;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 85%;
}

#embed_video {
    text-align: center;
    overflow: hidden;
}

#display_images {
    padding-right: 10px;
    display: inline-block;
}

#display_files {
    padding-right: 10px;
    display: inline-block;
}

#display_tags {
    padding-right: 5px;
    display: inline-block;
}

div.panel-default > div.panel-heading {
    background-color: #ececec;
}

div.panel.panel-default {
    border: none;
}

div.panel-body {
    background-color: #f8f8f8;
}

ul.dropdown-menu {
    background-color: #f8f8f8;
}

ul.dropdown-menu > li > a:hover {
    background-color: #dcdcdc;
}

#dropdownMenu1 {
    background-color: #f8f8f8;
}

#dropdownMenu1:hover {
    background-color: #dcdcdc;
}

#post_description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-default {
    padding-bottom: 6px;
}

span.glyphicon.glyphicon-search {
    padding-top: 3px;
    padding-bottom: 3px;

}

#search_bar {
    margin-top: 1px;
}

#search_button {
    margin-top: 1px;
}

#login_text {
    font-weight: 400;
    font-size: 40;
    text-align: center;
    color: #F8F8FF;
}

#login_username {
    margin-left: 40px;
    width: 250;
}

#login_password {
    margin-left: 40px;
    width: 250;
}

#login_button {
    font-size: 17;
    font-weight: 450;
    width: 85;
    margin-left: 40px;
}

#login_form {
    margin-top: 50px;
}

/* For smaller devices */
@media screen and (max-width: 710px) {

    .post_glyphicon {
        display: none;
    }

    a.ng-binding {

    }
    #dates {
        float: none;
        text-align: center;
    }
    #post_description {
        margin-top: 10px;
    }
}

ul.dropdown-menu {
    left: 0;
}

@media screen and (max-width: 620px) {

    #votes {
        margin-top: 33px;
        text-align: center;
    }

    h3.panel-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 85%;
    }
}