#post_title {
    margin: 0;
    display: inline-block;
}

.post_glyphicon {
    display: inline;
}

h3.panel-title {
    font-size: 20px;
}

.panel-heading {
	height: 43px;
}

#votes {
	float: right;
}

.custom {
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 10px;
    width: 30%;  
}

#dates {
    float: right;
    font-size: 14px;
    font-weight: normal;
}

.panel-body  {
    word-break: break-all;
}

#upload_button_images {
    margin-top: 10px;
}
