#post_title {
    margin: 0;
    display: inline-block;
}

.post_glyphicon {
    display: inline;
}

h3.panel-title {
    font-size: 20px;
}

.panel-heading {
	height: 43px;
}

#votes {
	float: right;
}

.custom {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 160px;
    height: 50px;
}

#dates {
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -10px;
}

.panel-body {
    word-break: break-all;
}

#upload_button_images {
    margin-top: 10px;
}

#images {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.tags_link {
    color: #00b300;
    background-color: #ffff99;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    border-radius: 14px;
    border: none;
}

.tags_link:hover { 
    color: #ffff99;
    background-color: #00b300;
}
